<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<title>bnkr</title>
<link rel="stylesheet" href="bulma_lux_theme.css">
<style>
    div {
        /* Provides some padding that bulma doesn't do */
        padding-top: 5px;
        padding-left: 5px;
        padding-right: 5px;
        padding-bottom: 5px;
    }

    .main {
        display: flex;
        min-height: 100vh;
        flex-direction: column;
    }

    .section {
        flex: 1;
    }

    .footer {
        /* Keeps footer stuck to bottom */
        position: absolute;
        bottom: 0;
        padding: 1rem;
        width: 100%;
    }
</style>
<!-- <script defer src="fontawesome.js"></script> -->
<script src="jq.js"></script>
<script src="../helper.js"></script>
<!-- <script src="kit_fontawesome.js"></script> -->