<!DOCTYPE html>
<html>

<head>
    <% include head_imports.html%>
</head>

<body>
    <% include header.html %>
    <div class="container has-text-centered">
        <div class="box">
            <h5 class="subtitle">Welcome to bnkr!</h5>
            Have an account already? <a href="/login">Log in here</a>.
            </br>
            No account yet? <a href="/signup">Sign up here</a>.
        </div>
        </br>
        <div class="box">
            <h5 class="subtitle">Banking. For the rest of us.</h5>
            <p><strong>bnkr</strong> lets you track all your financial institutions in one place.</p>
            </br>
            <p><strong>Payment Model:</strong> We will never put ads on our site. Instead, we offer a premiumm service
                with heightened features for the customers with analytic interests.
            </p>
        </div>
        <div class="box">
            <h5 class="subtitle">Security: World Class Standards.</h5>
            <p><strong>bnkr</strong> uses the same backing software as international banks like Chase, Citi Bank, Marcus
                by Goldman Sachs, and others. Your financial information will never be internally stored nor made
                public.</p>
        </div>
    </div>
</body>

</html>